:root {
  --text-outline-size: 0.01em;
}

@font-face {
  font-family: 'Teto';

  src: url('./assets/tetoFont.ttf') format('truetype');

  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
  
  font-family: 'Teto';
  color: rgb(205, 96, 119);

  background-color: rgb(253, 199, 189);
}
